@media (max-width: 764px){
    header img {
        width: 300px;
        height: auto;
        margin-top: 2rem;
    }

    header {
        background-size: contain;
    }

    #fullpage .section.tampil1 {
        text-align: center;
    }

    #fullpage .section.tampil1>.container>.row {
        margin-top: 2rem;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #62A658 !important;
    }

    #fullpage img{
        width: 300px;
        height: auto;
        margin-top: 2rem;
    }
}